BODY {
    background-color: #000000;
    background-image:url('bg.jpeg');
	/* font-family: "Courier New", Courier, monospace; */
    color: #FFFFFF;
}

a {
	color: green;
}

a:hover { 
    color: black; 
    background-color: green;
} 

img {
	border: none;
}

.link {
    color: green;
}

.link:hover {
    color: black;
    background-color: green;
}

.header {
	position: absolute;
	top: 5%;
	height: 10%;
	width: 99%;
	text-align: center;
	font-size: xx-large;
}

.main {
	position: absolute;
	top: 15%;
	width: 61%;
	height: 70%;
	left: 0%;
	padding-left: 3%;
	color: #dddddd;
}

.container {
	height: 100%;
	overflow: hidden;
	text-overflow: hidden;
}

.menu {
	background-color: #AAAAAA;
	width: 100%;
    text-align: center;
}

.sidebar {
	position: absolute;
	top: 15%;
	width: 30%;
	height: 70%;
	left: 65%;
	padding-right: 3%;
	color: #EEFFDD;
	font-size: 8pt;
}

.footer {
	color: #333333;
	background-color: #DDDDDD;
	position: absolute;
	height: 10%;
	bottom: 0;
	width: 99%;
	text-align: center;
	z-index: 10;
	font-size: 8pt;
}
